.Rproj.user
.Rhistory
*.RData
*.DS_Store
data/*
.Rapp.history
ggmapTemp*
SDM_outputs/*
*.trMat
figures/_archives/*
*.zip
estimated_params/avr2015_shortRun/*
estimated_params/.DS_Store/*
mcmc/*
mcmc_4state/dat/*
!mcmc_4state/dat/inits*.txt
mcmc_4state/res/*
mcmc_4state/bin/*